---
import SizeContainer from "../components/SizeContainer.astro";
import Text from "../components/Text.astro";
import BasicLayoutNoFooter from "./BasicLayoutNoFooter.astro";
const {content} = Astro.props;
const date = new Date(content.date).toLocaleDateString('id-ID', {weekday: 'long', year: 'numeric', month: 'long', day: 'numeric'});
---

<BasicLayoutNoFooter title={content.title}>
    <div class="relative overflow-hidden">
        <div class="bg-orange-100 rounded-full absolute top-0 blur-3xl bg-opacity-30 overflow-hidden"  style="z-index: -10; height: 1000px; width:1000px; right: -300px"></div>
        <div class=" bg-yellow-100 rounded-full absolute blur-3xl bg-opacity-30 overflow-hidden"  style="z-index: -10; height: 1000px; width:1000px; left:-400px; bottom: -200px"></div>
        <SizeContainer>
            <div class="flex justify-center px-4">
                <div class="pt-16 pb-28 max-w-xl">
                    <h1 class="text-center text-6xl font-bold py-12">{content.title}</h1>
                    <Text>
                        <slot/>
                    </Text>
                </div>
            </div>
        </SizeContainer>
        <div class="bg-black bg-opacity-5 flex justify-between">
            <div>
                <p class="mb-6 p-6 w-full md:w-1/2 opacity-70">{content.title}, adalah artikel dengan kategori {content.category}/{content.subcategory}, dipublish pada {date}</p>
                <h1 class="text-5xl md:text-6xl font-bold">{content.title}</h1>
            </div>
            <a href="/articles" class="bg-black text-white hover:text-orange-500 flex flex-col p-4 md:p-8 flex-none justify-end">
                <p class="text-2xl font-bold">OTHER<br/>ARTICLE</p>
                <div class="flex items-center">
                    <p class="text-sm mr-2">see more</p>
                    <p class="font-bold text-xl">--{">"}</p>
                </div>
            </a>
        </div>
    </div>
</BasicLayoutNoFooter>